pydantic
colorlog
pydantic_core
websockets
uvicorn
fastapi
ruamel.yaml
requests
aiosqlite
pillow
xpinyin
pytubefix
Beautifulsoup4
aiofiles
apscheduler
jmcomic
img2pdf
playwright
bilibili-api-python
PicImageSearch
PyExecJS
httpx<0.28.0
