pydantic
colorlog
pydantic_core
websockets
uvicorn
fastapi
ruamel.yaml
requests
aiosqlite
pillow
xpinyin
PicImageSearch
pytubefix
Beautifulsoup4
aiofiles
apscheduler
jmcomic
img2pdf
playwright
bilibili-api-python
httpx<0.28.0
